.tasks {
  display: grid;
  list-style-type: none;
  gap: 1.5em;
  grid-auto-flow: row; /* Set the flow direction to column */
  animation-name: note-check ;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}